/** Loader page d'accueil **/

.loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    background-color: $colour-white;
    z-index: -99;
    align-items: center;
    justify-content: center;
    animation: loading 600ms;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.loader span {
    display: block;
    width: 20px;
    height: 20px;
    background: darken($colour-white, 8%);
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .loader span:nth-child(2) {
    background: $colour-primary;
  }
  
  .loader span:nth-child(3) {
    background: $colour-secondary;
  }
  
  .loader span:nth-child(4) {
    background: $colour-tertiary;
  }
  
  .loader span:not(:last-child) {
    animation: animate 1.5s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(30px);
    }
  }
  
  .loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
  }
  
  @keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(10px, -10px);
    }
    20% {
      transform: translate(20px, 10px);
    }
    30% {
      transform: translate(30px, -50px);
    }
    70% {
      transform: translate(-150px, -50px);
    }
    80% {
      transform: translate(-140px, 10px);
    }
    90% {
      transform: translate(-130px, -10px);
    }
    100% {
      transform: translate(-120px, 0);
    }
  }

  /** Remplissage like **/

  .fa-heart {
      &:hover {
        &::before {
            font-weight: bold;
            background: $colour-gradient-like;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;    
        }
      }
      &::before {
          transition: color 600ms;
      }
}

/** Apparition des plats progressivements **/

@keyframes card-appearance {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.sub-menu:nth-child(1) {
        animation: card-appearance 1s;
        animation-delay: 500ms;
        animation-fill-mode: both;
}

.sub-menu:nth-child(2) {
    animation: card-appearance 1s;
    animation-delay: 750ms;
    animation-fill-mode: both;
}

.sub-menu:nth-child(3) {
    animation: card-appearance 1s;
    animation-delay: 1000ms;
    animation-fill-mode: both;
}

/** Validation du plat **/

.sub-menu-card:hover > .sub-menu-card__title {
    max-width: 65%;
}

.sub-menu-card:hover {
    overflow: hidden;
    > .sub-menu-card__price {
        display: flex;
        align-items: flex-end;
        .fa-check-circle {
            display: block;
            background-color: $colour-tertiary;
            color: $colour-white;
            font-size: 20px;
            padding: 28px;
            margin: -14px -14px -14px 6px;
        }
    }
}