@mixin gradient-button {
    padding: 18px;
    border-radius: 35px;
    background: $colour-gradient;
    text-decoration: none;
    font-weight: 700;
    color: white;
    box-shadow: $shadow-primary;
    &:hover {
        background: $colour-gradient-light;
        box-shadow: $shadow-secondary;
    }
}