/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
  }

h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
}

h3 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

h4 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

@mixin sub-menu-title {
    font-weight: 400;
    font-size: 1.2em;
    border-bottom: $colour-tertiary 3.5px solid;
    margin-right: 86%;
    padding-bottom: 6px;
    @include tablet-only{
        margin-right: 93%;
        flex: 100%;
    }
}

@mixin dish-title {
    font-size: 1.15em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin dish-sub-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}