.sub-header {
    background: $colour-background;
    padding: 15px;
    &__localisation {
        background: $colour-background-secondary;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px;
        padding: 18px;
        box-shadow: inset 0px 4px 3px 0px rgba(180, 180, 180, 0.45);
        p {
            text-align: center;
            font-weight: 700;
        }
        .fa-map-marker-alt {
            padding-right: 15px;
        }
    }
    &__title {
        padding: 35px 20px 20px 20px;
        text-align: center;
        h1 {
            padding: 0px 20px 10px 20px;
        }
        h2 {
            font-weight: 300;
            font-size: 1em;
        }
    }
    &__btn {
        padding: 20px 0px 45px;
        text-align: center;
        a {
            @include gradient-button;
        }
    }
}

.operation {
    padding: 45px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    @include tablet-only{
        padding-left: 40px;
        padding-bottom: 60px;
        flex-direction:initial;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 35px;
    }
    & h2 {
        @include tablet-only{
            flex: 100%;
        }
    }
    &__step {
        display: flex;
        background: $colour-background;
        padding: 20px;
        border-radius: $border-rounded;
        margin-left: 10px;
        box-shadow: $shadow-primary;
        transition: background-color 500ms;
        &:hover {
            background-color: $colour-over;
            & i {
                color: $colour-primary;
            }
        }
        p {
            @include button-number;
        }
        i {
            @include icon;
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background: $colour-background;
    padding: 50px 20px;
    @include tablet-only{
        padding: 45px 40px 60px 40px;
        flex-direction:unset;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 40px;
    }
    & h2 {
        @include tablet-only{
            flex: 100%;
        }
    }
}

.restaurants-card {
    display: flex;
    flex-direction: column;
    background: $colour-white;
    border-radius: $border-rounded;
    box-shadow: $shadow-primary;
    overflow: hidden;
    position: relative;
    @include tablet-only{
        flex: 40%;
    }
    a {
        text-decoration: none;
        color: black;
    }
    &__new {
        position: absolute;
        right: 15px;
        top: 10px;
        p {
            @include new-restaurant
        }
    }
    &__img img {
            width: 100%;
            max-width: 100%;
            height: 180px;
            object-fit: cover;
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: $colour-white;
        line-height: 1.5;
        &__like {
            @include like-restaurant
        }
    }
}