$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #f6f6f6;
$colour-background-secondary: #eaeaea;
$colour-white: #ffffff;
$colour-over: #f5edff;

$shadow-primary: 1px 4px 12px 5px rgba(180, 180, 180, 0.384);

$border-rounded: 18px;