.footer {
    background: #353535;
    padding: 25px 20px;
    @include tablet-only{
        padding: 30px 40px; 
    }
    &__title {
        h2 {
            font-family: "shrikhand", Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: lighter;
            color: white;
            margin-bottom: 10px;
            @include tablet-only{
                font-size: 1.7em;
            }        
        }
    }
    &__nav {
        ul {
            list-style-type: none;
            line-height: 1.8;
            @include tablet-only{
                display: flex;
                flex-wrap: wrap;
            }
        }
        li {
            @include tablet-only{
                flex: 50%;
            }
        }
        a {
            color: white;
            text-decoration: none;
        }
        .fa-utensils {
            margin-right: 10px;
            font-size: 14px;
        }
        .fa-hands-helping {
            margin-right: 9px;
            font-size: 11px;
        }
    }
}